@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');

:root {
   /* primary */
   --primary-Bright-Orange: hsl(31, 77%, 52%);
   --primary-Dark-Cyan: hsl(184, 100%, 22%);
   --primary-Very-Dark-Cyan: hsl(179, 100%, 13%);
   /* neutral */
   /* paragraphs */
   --neutral-Transparent-White: hsla(0, 0%, 100%, 0.75);
   /* background headings buttons */
   --neutral-Very-Light-Gray: hsl(0, 0%, 95%);
}

html {
   box-sizing: border-box;
   font-size: 15px;
}

*,
*::before,
*::after {
   box-sizing: inherit;
}

body {
   margin: 0;
   padding: 0;
   font-size: 1rem;
   font-family: 'Lexend Deca', sans-serif;
   color: var(--neutral-Transparent-White);
   background-color: var(--neutral-Very-Light-Gray);
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

h1,
h2,
h3,
h4 {
   font-family: 'Big Shoulders Display', cursive;
   color: var(--neutral-Very-Light-Gray);
}

button {
   background-color: var(--neutral-Very-Light-Gray);
   border: 2px solid var(--neutral-Very-Light-Gray);
   border-radius: 50px;
   font-size: 1rem;
   outline: none;
}

main.cards {
   width: 87vw;
   max-width: 326px;
   margin: 10vh auto;
   justify-content: center;
   align-content: center;
}

section {
   padding: 3rem;
}

section:nth-of-type(1) {
   background-color: var(--primary-Bright-Orange);
   animation: fromRight 1s ease-in-out,
      fadeIn 2s ease-in-out;
   border-radius: 10px 10px 0 0;
}

section:nth-of-type(2) {
   background-color: var(--primary-Dark-Cyan);
   animation: fromLeft 1s ease-in-out,
      fadeIn 2s ease-in-out;
}

section:nth-of-type(3) {
   background-color: var(--primary-Very-Dark-Cyan);
   animation: fromRight 1s ease-in-out,
      fadeIn 2s ease-in-out;
   border-radius: 0 0 10px 10px;
}

section h2 {
   font-size: 3rem;
   text-transform: uppercase;
}

section p {
   line-height: 1.7;
}

section button {
   width: 147px;
   padding: 17px 30px;
   margin-top: 25px;
   transition: color .5s,
      background-color .5s;
}

section:nth-of-type(1) button {
   color: var(--primary-Bright-Orange);
}

section:nth-of-type(2) button {
   color: var(--primary-Dark-Cyan);
}

section:nth-of-type(3) button {
   color: var(--primary-Very-Dark-Cyan);
}

section button:hover {
   background-color: transparent;
   color: var(--neutral-Very-Light-Gray);
}

footer {
   color: var(--primary-Dark-Cyan);
   width: 100%;
}

.attribution {
   font-size: 11px;
   text-align: center;
}

.attribution a {
   color: hsl(228, 45%, 44%);
}

.no-break {
   white-space: nowrap;
}

/* animations */

@keyframes fromLeft {
   0% {
      transform: translateX(-500px);
   }
}

@keyframes fromRight {
   0% {
      transform: translateX(500px);
   }
}

@keyframes fadeIn {
   0% {
      opacity: 0;
   }
}

@keyframes fromTop {
   0% {
      transform: translateY(-500px);
   }
}

@keyframes fromBot {
   0% {
      transform: translateY(500px);
   }
}

/* media queries  */

@media screen and (min-width: 400px) {
   main.cards {
      max-width: 87vw;
   }
}

@media screen and (min-width: 750px) {
   body {
      height: 100vh;
   }

   main.cards {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      max-width: 950px;
   }

   section:nth-of-type(1) {
      border-radius: 10px 0 0 10px;
      animation: fromTop 1s ease-in-out,
         fadeIn 2s ease-in-out;
   }

   section:nth-of-type(2) {
      animation: fromBot 1s ease-in-out,
         fadeIn 2s ease-in-out;
   }

   section:nth-of-type(3) {
      border-radius: 0 10px 10px 0;
      animation: fromTop 1s ease-in-out,
         fadeIn 2s ease-in-out;
   }

   footer {
      position: absolute;
      bottom: 0;
      padding: 0 10px;
   }
}